.inside{
	background-color: black;
	color: grey;
}
.one{
         color: #FC0;
		}
		#two{
			color: white;
		}
		.three{
			color: white;
		}
		.four{
			color: black;
			font-style: bold;
			size:10px;
		}
		.five{
			height: 50px;
			width: 100%;
			background-color: #FC0;
		}
		.six{
			height=40px;
			width=100%;
			padding: 20px;
			background-color: #FC0;
		}
		.seven
		{
			height: 1500px;
			width: 250px;
		}
		a
		{
	    	color:#FC0;
	    	text-decoration: none;
		}
		.ten{
			display: flex;
		}
		.eleven{
			display: flex;
		}
		aside{
	float:right;
	width:170px;
	background-color:#666;
	font-family:Arial, Helvetica, sans-serif;
	font-style:normal;
	font-size:12px;
	color:#CCC;
	padding:25px 15px 10px 15px;
	line-height:16px;
}
.eight{
float: left;
width: 200px;
border: 1px solid #999;
margin: 0 15px 25px 15px;
padding: 10px;
}

.clearboth { 
	clear: both; 
}
